<html layout:decorate="~{common/layout}">
<div layout:fragment="content">
  <!-- 질문 -->
  <h2 class="border-bottom py-2" th:text="${review.subject}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(review.content)}"></div>
      <div class="d-flex justify-content-end">
        <div th:if="${review.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">수정일</div>
          <div th:text="${#temporals.format(review.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${review.author != null}" th:text="${review.author.username}"></span>
          </div>
          <div th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
      <div class="my-3">
        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/review/vote/${review.id}|}">
          추천
          <span class="badge rounded-pill bg-success" th:text="${#lists.size(review.voter)}"></span>
        </a>
        <a th:href="@{|/review/modify/${review.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${review.author != null and #authentication.getPrincipal().getUsername() == review.author.username}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/review/delete/${review.id}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${review.author != null and #authentication.getPrincipal().getUsername() == review.author.username}"
           th:text="삭제"></a>
      </div>
    </div>
  </div>
  <!-- 답변의 갯수 표시 -->
  <h5 class="border-bottom my-3 py-2"
      th:text="|${#lists.size(review.answerList)}개의 답변이 있습니다.|"></h5>
  <!-- 답변 반복 시작 -->
  <div class="card my-3" th:each="answer : ${review.answerList}">
    <a th:id="|answer_${answer.id}|"></a>
    <div class="card-body">
      <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
      <div class="d-flex justify-content-end">
        <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">수정일</div>
          <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
          </div>
          <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
      <div class="my-3">
        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/answer/vote/${answer.id}|}">
          추천
          <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
        </a>
        <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
           th:text="삭제"></a>
      </div>
    </div>
    <!-- 댓글 개수 표시   -->
    <h5 class="border-bottom my3 py-2"
        th:text="|${#lists.size(answer.commentList)}개의 댓글이 있습니다.|"></h5>
    <!--  댓글 반복 시작  -->
    <div class="mt-3" th:if="${not #lists.isEmpty(answer.commentList)}" >
      <div class="comment py-2 text-muted" th:each="comment, index : ${answer.commentList}">
        <span style="white-space: pre-line" th:text="${comment.content}"></span>
        <span th:if="${comment.modifyDate != null}"
              th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}
              (수정: ${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')})|"></span>
        <span th:if="${comment.modifyDate == null}"
              th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
        <a sec:authorize="isAuthenticated()"
           th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
           th:href="@{|/comment/modify/${comment.id}|}" class="small">수정</a>
        <a sec:authorize="isAuthenticated()"
           th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
           href="javascript:void(0);" class="small delete" th:data-url="@{|/comment/delete/${comment.id}|}">삭제</a>
        <div class="my-3">
          <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
             th:text="수정"></a>
          <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
             class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
             th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
             th:text="삭제"></a>
        </div>
      </div>
      <div>
        <a th:href="@{|/comment/create/answer/${answer.id}}" class="small"><small>댓글작성</small></a>
      </div>
      <!--  댓글 반복 끝  -->
      <!--  댓글 작성  -->
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
      <textarea sec:authorize="isAuthenticated()" th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
      <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
  </div>
  <script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
  </script>
</html>