<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>ID/PW 찾기</title>
</head>
<body>
<div th:replace="layout"></div>

<div layout:fragment="content">
  <form onsubmit="return false;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
      <h1>ID 찾기</h1>
    </div>
  <div th:if="${param.error}">
    <div class="alert alert-danger">정보를 정확히 입력해주세요</div>
  </div>
  <div class="mb-3">
    <input type="email" name="email" id="email" class="form-control" placeholder="이메일"/>
  </div>
  <button type="button" onclick="sendEmailForID()" class="btn btn-primary">아이디 찾기</button>
  </form>
  <form onsubmit="return false;">
  <h1>PW 찾기</h1>
    <div th:if="${param.error}">
      <div class="alert alert-danger">정보를 정확히 입력해주세요</div>
    </div>
    <div class="mb-3">
      <input type="text" name="username" id="username" class="form-control" placeholder="아이디"/>
    </div>
    <div class="mb-3">
      <input type="email" name="userEmail" id="userEmail" class="form-control" placeholder="이메일"/>
    </div>
    <button type="button" onclick="sendEmailForPW()" class="btn btn-primary">임시 비밀번호 전송</button>
  </form>
</div>
</body>
<script>
  function sendEmailForID() {
          var email = $("#email").val();
          console.log(email);
          // AJAX 요청 보내기
          $.ajax({
              url: "/user/findID",
              method: "POST",
              data: {email: email}, // 이메일 주소를 서버로 전달
              success: function(response) {
                  alert("아이디 발송 성공.");
              },
              error: function(xhr, status, error) {
                  alert("아이디 발송 실패.");
              }
          });
      }

      function sendEmailForPW() {
      // 이메일 주소 가져오기
      var userEmail = $("#userEmail").val();
      var username = $("#username").val();

      // AJAX 요청 보내기
      $.ajax({
          url: "/user/findPW", // 이메일 인증번호를 보낼 서버의 URL
          method: "POST",
          data: {userEmail: userEmail, username: username}, // 이메일 주소를 서버로 전달
          success: function(response) {
              alert("임시 비밀번호 발송 성공.");
          },
          error: function(xhr, status, error) {
              alert("임시 비밀번호 발송 실패.");
          }
      });
  }

</script>
</html>