<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    function IDCheck() {
        var username = $("#username").val();

        if(!username) {
          alert("사용자 ID를 입력하세요.");
          return;
        }

        $.ajax({
            url: "/user/checkUsername",
            method: "POST",
            data: {username: username},
            success: function(response) {
               if(response == 0){
                alert("사용할 수 있는 아이디입니다.");
                } else {
                alert("중복된 아이디입니다. 아이디를 다시 입력해주세요.");
                }
            },
            error: function (xhr, status, error) {
                alert("에러입니다.");
            }
        });
    }

     function EmailCheck() {
        var email = $("#email").val();

          if(!email) {
          alert("사용자 이메일을 입력하세요.");
          return;
        }

        $.ajax({
            url: "/user/checkEmail",
            method: "POST",
            data: {email: email},
            success: function(response) {
               if(response == 0){
                alert("사용할 수 있는 이메일 주소입니다.");
                } else {
                alert("중복된 이메일 주소입니다. 이메일 주소를 다시 입력해주세요.");
                }
            },
            error: function (xhr, status, error) {
                alert("에러입니다.");
            }
        });
    }
    </script>
    <title>회원가입</title>
  </head>
  <body>
  <div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">회원가입</h1>

      <script>
        let submitJoinFormDone = false;
        function submitJoinForm(form) {
           if (submitJoinFormDone) return;

          form.username.value = form.username.value.trim();

          if(form.username.value.length == 0) {
            form.username.focus();
            alert('아이디를 입력해주세요.');
            return;
          }

          if(form.username.value.length < 4) {
            form.username.focus();
            alert('아이디를 4자 이상 입력해주세요.');
            return;
          }

          form.password1.value = form.password1.value.trim();

          if(form.password1.value.length == 0) {
            form.password1.focus();
            alert('비밀번호를 입력해주세요.');
            return;
          }

         if(form.password1.value.length < 8) {
            form.password1.focus();
            alert('비밀번호를 8자 이상 입력해주세요.');
            return;
          }

          form.password2.value = form.password2.value.trim();

          if(form.password2.value.length == 0) {
            form.password2.focus();
            alert('비밀번호 확인을 입력해주세요.');
            return;
          }

          if(form.password2.value.length < 8) {
            form.password2.focus();
            alert('비밀번호 확인을 8자 이상 입력해주세요.');
            return;
          }

          form.email.value = form.email.value.trim();

          if(form.email.value.length == 0) {
            form.email.focus();
            alert('이메일을 입력해주세요.');
            return;
          }

          form.submit();
          submitJoinFormDone = true;
        }
      </script>
    <form th:action="@{/user/join}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data"
          onsubmit="submitJoinForm(this); return false;" class="flex flex-col gap-6">
      <div class="form-control" >
        <label class="label">
          <span class="label-text">사용자 ID </span>
        </label>
        <input type="text" name="username" id="username" maxlength="30" th:field="*{username}" class="input input-bordered" autofocus>
        <button type="button" class="btn btn-neutral" id="IDConfirmButton" onclick="IDCheck()">ID 중복확인</button>
      </div>
      <div class="form-control">
        <label for="password1" class="label cursor-pointer">
          <span class="label-text">비밀번호 </span>
        </label>
        <input type="password" id="password1" th:field="*{password1}" class="input input-bordered" maxlength="30">
      </div>
      <div class="form-control">
        <label for="password1" class="label cursor-pointer">
          <span class="label-text">비밀번호 확인</span>
        </label>
        <input type="password" id="password2" th:field="*{password2}" class="input input-bordered" maxlength="30">
      </div>
      <div class="form-control">
        <label for="password1" class="label cursor-pointer">
          <span class="label-text">사용자 email</span>
        </label>
        <input type="email" id="email" name="email" th:field="*{email}" class="input input-bordered" maxlength="80">
        <button type="button" class="btn btn-block btn-neutral" id="EmailConfirmButton" th:onclick="EmailCheck()">Email 중복확인</button>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">프로필 사진</span>
        </label>
        <input type="file" accept="image/jpeg, image/png, image/gif" class="file-input file-input-bordered" name="file">
      </div>
      <button type="submit" onclick="uploadFile()" class="btn btn-neutral">회원가입</button>
    </form>
    </div>
  </div>
  <script>
    function sendMail() {
    var email = $('#email').val();
    var username = $('#username').val();
    console.log(email);
    console.log(username);
    $.ajax({
        url: "/user/sendEmail",
        method: "POST",
        data: {email: email}, {username: username},
        success: function(response) {
              alert("회원가입에 성공하였습니다.");
          },
          error: function(xhr, status, error) {
              alert("회원가입에 실패했습니다.");
          }
        });
    }

    function uploadFile(){

    var formData = new FormData();
    formData.append("file", $("#file")[0].files[0]);

    $.ajax({
    url: "/user/upload",
    method: "POST",
    data: formData,
    contentType: false,
    processData: false,
    success: function(response) {
    alert("이미지 업로드 성공");
    },
    error: function(response) {
    alert("이미지 업로드 실패");
    }
    });
    }
  </script>
</body>
</html>
