<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
</head>
<body>
<div th:replace="layout"></div>
<div layout:fragment="content">
  <h1>마이페이지</h1>
  <div>
    <div th:text="${user.username}"></div>
    <div th:text="${user.email}"></div>
    <div th:text="${user.createDate}"></div>
    <div th:each="question : ${questionList}">
      <div th:text="${question.subject}"></div>
    </div>
    <div th:each="answer : ${answerList}">
      <div th:text="${answer.content}"></div>
    </div>
    <div th:each="comment : ${commentList}">
      <div th:text="${comment.content}"></div>
    </div>
  </div>
</body>
</html>